/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* ------------- BODY ------------- */
body {
	font-family: $defaultFont;
	font-size: 16px;
	font-weight: $normalWeight;
    min-height: 100%;
    width: 100%;
    background: $primaryColor;
    position: absolute;
    
    h2 {
        color: $fontColor;
        margin-bottom: $gutterdbl;
        margin-left: $gutterdbl;
    }

}


/* ------------- HEADER ------------- */
header {
        background: $fontColor;
        
.header-div {
    padding: $gutterdbl;
    figure {
        width: 50px;
        img {
            width: 100%;
        }
    }
    figure:hover {
        cursor: pointer;
    }
    
    h1:hover {
        cursor: pointer;
    }
        
    }
    h1 {
        margin-top: $gutter;
        color: $primaryColor;
    }
    
} //end header






/*  ------------- MAIN -------------  */

main {
    width: 100%;

    #main-div {
        
            .nav {
        position: sticky;
        top: 0;
        z-index: 1;
        margin-bottom: $gutterdbl * 2;
        
                ul {
        a {
            display: block;
            float: left;
            width: 33.333%;
            padding: $gutter;
            background: $fontColor;
            text-align: center;
            font-size: 1rem;
            i {
                font-size: 1rem;
                color: $primaryColor;
            }
        }
        a:hover {
            cursor: pointer;
            i {
                color: $altColor;
            }
        }
                }//end ul
                
        
                
        /* Dropdown Button */
.dropbtn {
    display: block;
    float: left;
    width: 100%;
    background: $fontColor;
    text-align: center;
    border: none;
    padding: $gutter;
    text-align: center;
    font-size: 1rem;
    i {
        font-size: 1rem;
        color: $primaryColor;
        margin: 0;
    }
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    display: block;
    float: left;
    width: 33.333%;
    padding: 0;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    top: $gutterdbl + 1rem;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: $altColor;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    i {
        color: $altColor;
    }
                }
                
.active {
    i {
    color: $secondaryColor;
    }
        }
                
 .active2 {
    background: $secondaryColor;         
        }

    }// end nav
        
        .search {
            margin: $gutterdbl;
            margin-top: -20px;
            i {
                position: relative;
                top: 26px;
                left: $gutter;
            }
            i:hover {
                cursor: pointer;
            }
            input {
                padding-top: $gutter;
                padding-bottom: $gutter;
                padding-left: $gutterdbl * 2;
                width: 100%;
                background: $fontColor;
                border-radius: 10px;
                border: 2px solid $fontColor;
            }
        }
        
        .checkbox {
            color: $fontColor;
            text-align: center;
            margin-bottom: $gutterdbl;
            label:hover {
                cursor: pointer;
        }
            input:hover {
                cursor: pointer;
            }
        }
        

        
        .card {

            transition: 0.3s;
            background: $fontColor;
            padding-top: $gutterdbl * 2;
            padding-right: $gutterdbl * 2;
            padding-left: $gutterdbl * 2;
            figure {
                
                img {
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    width: 100%;
                }
                figcaption {
                    position: relative;
                    bottom: 0px;
                    width: 100%;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    padding: $gutterdbl;
                    font-weight: $boldWeight;
                    color: $fontColor;
                    background: $primaryColor;
                }
                p {
                    text-align: center;
                    position: relative;
                    bottom: 130px;
                    font-size: 40px;
                    color: $fontColor;
                    opacity: .75;
                }
            }
            figure img:hover, p i:hover {
                cursor: pointer;
            }
            .container {
                position: relative;
                bottom: 30px;
            }
}
   
    } //end main div       
} // end main


/*  ------------- FOOTER -------------  */
.footer-div {

footer {
    display: block;
    float: left;
	width: 100%;
	background-color: $fontColor;

	p {
		text-align: center;
		color: $secondaryColor;
		padding: .75rem 0;
		font-size: .9rem;
        font-weight: $boldWeight;
	} // end p
	p a {
        color: $secondaryColor;
        text-decoration: none;
    }
} 
}// end footer



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}